adgs/applications/TlDaemon/conf/IPF_Database.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" elementFormDefault="qualified">
	<xsd:complexType name="ACG_Correction_TableType">
		<xsd:sequence>
			<xsd:element ref="Description"/>
			<xsd:element ref="Note"/>
			<xsd:element name="List_of_AGC_Gains" type="List_of_AGC_GainsType"/>
			<xsd:element name="List_of_AGC_AGC_1s" type="List_of_AGC_AGC_1sType"/>
			<xsd:element name="List_of_AGC_AGC_2s" type="List_of_AGC_AGC_2sType"/>
			<xsd:element name="List_of_AGC_Corrected_Gains" type="List_of_AGC_Corrected_GainsType"/>
			<xsd:element name="List_of_Phase_Corrections_1" type="List_of_Phase_CorrectionsType"/>
			<xsd:element name="List_of_Phase_Corrections_2" type="List_of_Phase_CorrectionsType"/>
			<xsd:element name="List_of_Phase_Corrections_3" type="List_of_Phase_CorrectionsType"/>
			<xsd:element name="List_of_Phase_Corrections_4" type="List_of_Phase_CorrectionsType"/>
			<xsd:element name="List_of_Phase_Corrections_5" type="List_of_Phase_CorrectionsType"/>
			<xsd:element name="List_of_Phase_Corrections_6" type="List_of_Phase_CorrectionsType"/>
			<xsd:element name="List_of_Phase_Corrections_7" type="List_of_Phase_CorrectionsType"/>
			<xsd:element name="List_of_Phase_Corrections_8" type="List_of_Phase_CorrectionsType"/>
			<xsd:element name="List_of_Phase_Corrections_9" type="List_of_Phase_CorrectionsType"/>
			<xsd:element name="List_of_Phase_Corrections_10" type="List_of_Phase_CorrectionsType"/>
			<xsd:element name="List_of_Phase_Corrections_11" type="List_of_Phase_CorrectionsType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AzType">
		<xsd:simpleContent>
			<xsd:restriction base="xsd:short">
				<xsd:attribute name="unit" type="xsd:string" use="required" value="milli-deg"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ElevType">
		<xsd:simpleContent>
			<xsd:restriction base="xsd:short">
				<xsd:attribute name="unit" type="xsd:string" use="required" value="milli-deg"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Beam_SampleType">
		<xsd:sequence>
			<xsd:element name="Az" type="AzType"/>
			<xsd:element name="Elev" type="ElevType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:simpleType name="EngDouble">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="?[\+-]\d\.\d+E?[\+-]\d{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="GainAzType">
		<xsd:attribute name="unit" type="xsd:string" use="required" value="10-2 dB"/>
	</xsd:complexType>
	<xsd:complexType name="GainElevType">
		<xsd:attribute name="unit" type="xsd:string" use="required" value="10-2 dB"/>
	</xsd:complexType>
	<xsd:element name="IPF_Database">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IPF_Database_Header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Fixed_Header">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="File_Name" type="xsd:string"/>
										<xsd:element name="File_Description" type="xsd:string"/>
										<xsd:element name="Notes">
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="Mission_Code" type="xsd:string"/>
										<xsd:element name="File_Class" type="xsd:string"/>
										<xsd:element name="File_Type" type="xsd:string"/>
										<xsd:element name="Validity_Period">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Validity_Start" type="xsd:timeInstant"/>
													<xsd:element name="Validity_Stop" type="xsd:timeInstant"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="File_Version" type="xsd:byte"/>
										<xsd:element name="Source">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="System" type="xsd:string"/>
													<xsd:element name="Creator" type="xsd:string"/>
													<xsd:element name="Creator_Version" type="xsd:decimal"/>
													<xsd:element name="Creation_Date" type="xsd:timeInstant"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Variable_Header">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="MPH">
											<xsd:complexType/>
										</xsd:element>
										<xsd:element name="SPH">
											<xsd:complexType/>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Data_Block">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="A1_Gain_Pattern">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_Gain_Sample" type="List_of_Gain_SamplesType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="A2_Gain_Pattern">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_Gain_Sample" type="List_of_Gain_SamplesType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="A1_Phase_Pattern">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_Phase_Sample" type="List_of_Phase_SamplesType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="A2_Phase_Pattern">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_Phase_Sample" type="List_of_Phase_SamplesType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Beam_A1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Beam_Sample" type="Beam_SampleType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Beam_A2">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Beam_Sample" type="Beam_SampleType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_A1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_A2">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Antenna_Baseline">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Burst_Phase_Rx1_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_Phase_Val" type="List_of_Phase_ValsType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Burst_Phase_Rx2_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_Phase_Val" type="List_of_Phase_ValsType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CAL1_SARIN_Step_Freq">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CAL1_SARIN_No_Steps">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Phase_Diff_Curve_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_Phase_Diff">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Phase_Diff">
														<xsd:complexType>
															<xsd:attribute name="unit" type="xsd:string" use="required"/>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="count" type="xsd:byte" use="required"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Dir_Angle_Table">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_Measure">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Measure" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation>size of this array is fixed, but still TBD</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:attribute name="unit" type="xsd:string" use="required"/>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required" value="0"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Dir_Phase_Offset">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AGC_Table_Rx1_GC" type="ACG_Correction_TableType"/>
							<xsd:element name="AGC_Table_Rx2_GC" type="ACG_Correction_TableType"/>
							<xsd:element name="Del_Diff_Rx1_LRM_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Del_Diff_Rx2_LRM_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Del_Diff_Rx1_SAR_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Del_Diff_Rx2_SAR_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Del_Diff_Rx1_SARIN_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Del_Diff_Rx2_SARIN_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Eps_A1_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Eps_A2_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Eps_Rx1_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Eps_Rx2_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_Tx_Rx1_LRM_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_Tx_Rx2_LRM_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_Tx_Rx1_SAR_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_Tx_Rx2_SAR_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_Tx_Rx1_SARIN_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_Tx_Rx2_SARIN_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Gain_Corr_Rx1_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Gain_Corr_Rx2_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Gain_Corr_Rx1_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Gain_Corr_Rx2_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Gain_Corr_Rx1_SARIN">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Gain_Corr_Rx2_SARIN">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Lambda">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LPF_SAR_Rx1_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element ref="Note"/>
										<xsd:element name="Value" type="ValueType" minOccurs="128" maxOccurs="128"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LPF_SAR_Rx2_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element ref="Note"/>
										<xsd:element name="Value" type="ValueType" minOccurs="128" maxOccurs="128"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LPF_SARIN_Rx1_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element ref="Note"/>
										<xsd:element name="Value" type="ValueType" minOccurs="512" maxOccurs="512"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LPF_SARIN_Rx2_GC">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType" minOccurs="512" maxOccurs="512"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AA_Filter_BW">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AA_Filter_TF">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_AA_TF_Elements">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="AA_TF_Element" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation>size of this array is fixed, but still tBD</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:attribute name="unit" type="xsd:nonNegativeInteger" use="required"/>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FIR1_BW">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FIR1_Coeffs">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_FIR1_Coeffs">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="FIR1_Coeff" minOccurs="280" maxOccurs="280">
														<xsd:complexType>
															<xsd:attribute name="unit" type="xsd:string" use="required"/>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required" value="280"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FIR2_BW">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FIR2_Coeffs">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_FIR2_Coeffs">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="FIR2_Coeff" minOccurs="140" maxOccurs="140">
														<xsd:complexType>
															<xsd:attribute name="unit" type="xsd:string" use="required"/>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required" value="140"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Na_CAL3">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Na_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Na_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Na_SARIN">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NIMP_CAL3">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NIMP_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NIMP_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NIMP_SARIn">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NIMP_TRK_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NIMP_TRK_SARIN">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NIMP_Search">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NIMP_Acq">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PRI_CAL3">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PRI_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PRI_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PRI_SARIN_320">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PRI_SARIN_40">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PRI_Step">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PRI_Step_Count_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PRI_Step_Count_HRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="T_Burst_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="T_Burst_SARIN_40">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="T_Burst_SARIN_320">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TRK_Cycle">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FAI_Step">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LAI_Step">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Ho_Step">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="HPR_Step">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="T_PULSE_Tx">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="T_PULSE_Rx">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="S_pulse_320">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="S_pulse_40">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="USO_Freq_nom">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SIR_Freq_Mult">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="PositiveIntValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Dat_Count_Div">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Dat_Event_Offset_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Dat_Event_Offset_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Dat_Event_Offset_SARIN">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Ns_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Ns_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Ns_SARIn">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AGC_40_320">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="First_Valid_Echo_Sample">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:restriction base="PositiveIntValueType">
														<xsd:minInclusive value="1"/>
														<xsd:maxInclusive value="128"/>
													</xsd:restriction>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Last_Valid_Echo_Sample">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:restriction base="PositiveIntValueType">
														<xsd:minInclusive value="1"/>
														<xsd:maxInclusive value="128"/>
													</xsd:restriction>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AGC_40_320">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Ho_40_320_EDP">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Ho_40_320_MED">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="EDP_Offset_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="EDP_Offset_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="EDP_Offset_SARIN">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MED_Offset_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MED_Offset_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MED_Offset_SARIN">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CAL4_AGC1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CAL4_AGC2">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_CFA_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_CFA_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_CFA_SARIN">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_CFA_CAL1_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_ACCU_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_ACCU_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_ACCU_SARIN">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_ACCU_CAL1_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Tx_power_LRM">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Tx_power_SAR">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Tx_power_SARIN">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="Value" type="ValueType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Noise_Figure_1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_Rx1_Noise_Vals">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Noise_Val" type="Noise_ValType"/>
												</xsd:sequence>
												<xsd:attribute name="count" type="xsd:byte" use="required"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Noise_Figure_2">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="List_of_Rx2_Noise_Vals">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Noise_Val" type="Noise_ValType"/>
												</xsd:sequence>
												<xsd:attribute name="count" type="xsd:byte" use="required"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="COM_Reference">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="XYZ_Coord" type="XYZ_CoordType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SIR_Ant_1_Ref_Point">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="XYZ_Coord" type="XYZ_CoordType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SIR_Ant_2_Ref_Point">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="XYZ_Coord" type="XYZ_CoordType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DOR_Ant_Ref_Point">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="XYZ_Coord" type="XYZ_CoordType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="LRR_Ref_Point">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="XYZ_Coord" type="XYZ_CoordType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="STRK_1_Ref_Point">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="XYZ_Coord" type="XYZ_CoordType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="STRK_2_Ref_Point">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="XYZ_Coord" type="XYZ_CoordType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="STRK_3_Ref_Point">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="XYZ_Coord" type="XYZ_CoordType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="STRK_1_Nom_Point">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="XYZ_Coord" type="XYZ_CoordType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="STRK_2_Nom_Point">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="XYZ_Coord" type="XYZ_CoordType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="STRK_3_Nom_Point">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Description"/>
										<xsd:element name="XYZ_Coord" type="XYZ_CoordType"/>
										<xsd:element ref="Note"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="type" type="xsd:string" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="List_of_AGC_AGC_1sType">
		<xsd:sequence>
			<xsd:element name="AGC_1" minOccurs="63" maxOccurs="63">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="xsd:short">
							<xsd:attribute name="unit" type="xsd:string" use="required"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required" value="63"/>
	</xsd:complexType>
	<xsd:complexType name="List_of_AGC_AGC_2sType">
		<xsd:sequence>
			<xsd:element name="AGC_2" minOccurs="63" maxOccurs="63">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="xsd:short">
							<xsd:attribute name="unit" type="xsd:string" use="required"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required" value="63"/>
	</xsd:complexType>
	<xsd:complexType name="List_of_AGC_Corrected_GainsType">
		<xsd:sequence>
			<xsd:element name="Corrected_Gain" minOccurs="63" maxOccurs="63">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="xsd:short">
							<xsd:attribute name="unit" type="xsd:string" use="required"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required" value="63"/>
	</xsd:complexType>
	<xsd:complexType name="List_of_AGC_GainsType">
		<xsd:sequence>
			<xsd:element name="Gain" minOccurs="63" maxOccurs="63">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="xsd:short">
							<xsd:attribute name="unit" type="xsd:string" use="required"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required" value="63"/>
	</xsd:complexType>
	<xsd:complexType name="List_of_Gain_SamplesType">
		<xsd:sequence>
			<xsd:element name="Gain_Sample" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>size of the array is fixed, but still TBD</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Az" type="GainAzType"/>
						<xsd:element name="Elev" type="GainElevType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="List_of_Phase_CorrectionsType">
		<xsd:sequence>
			<xsd:element name="Phase_Correction" minOccurs="63" maxOccurs="63">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="xsd:short">
							<xsd:attribute name="unit" type="xsd:string" use="required" value="millirad"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required" value="63"/>
	</xsd:complexType>
	<xsd:complexType name="List_of_Phase_SamplesType">
		<xsd:sequence>
			<xsd:element name="Phase_Sample" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>size of array is fixed, but still TBD</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Az" type="PhaseAzType"/>
						<xsd:element name="Elev" type="PhaseElevType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="List_of_Phase_ValsType">
		<xsd:sequence>
			<xsd:element name="Phase_Val" minOccurs="0" maxOccurs="64">
				<xsd:annotation>
					<xsd:documentation>Note: the cardinality shall be 64..64, as soon as all values are available</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="unit" type="xsd:string" use="required" value="64"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Noise_ValType">
		<xsd:attribute name="unit" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:element name="Note" type="xsd:string"/>
	<xsd:complexType name="PhaseAzType">
		<xsd:attribute name="unit" type="xsd:string" use="required" value="milli-rad"/>
	</xsd:complexType>
	<xsd:complexType name="PhaseElevType">
		<xsd:attribute name="unit" type="xsd:string" use="required" value="milli-rad"/>
	</xsd:complexType>
	<xsd:complexType name="PositiveIntValueType">
		<xsd:simpleContent>
			<xsd:restriction base="xsd:positiveInteger">
				<xsd:attribute name="unit" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ValueType">
		<xsd:simpleContent>
			<xsd:restriction base="xsd:double">
				<xsd:attribute name="unit" type="xsd:string" use="required"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="XYZ_CoordType">
		<xsd:sequence>
			<xsd:element name="X">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="EngDouble">
							<xsd:attribute name="unit" type="xsd:string" use="required"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Y">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="EngDouble">
							<xsd:attribute name="unit" type="xsd:string" use="required"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Z">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="EngDouble">
							<xsd:attribute name="unit" type="xsd:string" use="required"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
